kafka:
  heapOptions: "-Xmx128m -Xms64m"
  resources:
    requests:
      cpu: 25m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  persistence:
    size: 5Gi
    storageClass: do-block-storage

keycloakx:
  image:
    repository: khabirhakim/ebanking-keycloak
    tag: prod
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 768Mi
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: selfsigned-cluster-issuer
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/cors-allow-origin: "https://bank.h4k5.net, https://bank-staging.h4k5.net"
      nginx.ingress.kubernetes.io/cors-always-set-header: "true"
      nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, OPTIONS, PUT, DELETE"
      nginx.ingress.kubernetes.io/cors-allow-headers: "Authorization, Content-Type, X-Requested-With, Accept, Origin"
      nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    rules:
      - host: bank-auth.h4k5.net
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: ebanking-auth-tls
        hosts:
          - bank-auth.h4k5.net
  extraEnv: |
    - name: KEYCLOAK_ADMIN
      value: admin
    - name: KEYCLOAK_ADMIN_PASSWORD
      value: admin
    - name: KC_HOSTNAME
      value: https://bank-auth.h4k5.net
    - name: KC_PROXY
      value: "passthrough"
    - name: KC_HOSTNAME_STRICT_BACKCHANNEL
      value: "false"
    - name: JAVA_OPTS_APPEND
      value: >-
        -Djgroups.dns.query={{ include "keycloak.fullname" . }}-headless -Xmx256m -Xms128m

